@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@400;500;600;700&family=Shojumaru&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo Play", cursive;
  margin: 25px 50px;
}
h1 {
  font-family: "Shojumaru", cursive;
  letter-spacing: 2px;
}
li {
  display: inline;
  padding: 0 20px;
  font-weight: 700;
}

li:hover {
  color: rgb(242, 91, 91);
}
header {
  justify-content: space-between;
  display: flex;
}
main {
  padding: 100px 0;
}
#selection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.style-block {
  display: grid;
}
#selection label {
  display: block;
}
